.root {
  margin: 0 8.33% 0 16.67%;
  max-width: 75%;
  height: 100lvh;
  position: relative;
  background-color: #F4F5F9;

  @media (max-width: 768px) {
    max-width: none;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

.title {
  padding-left: 80px;
  margin-top: 170px;
  width: 500px;
  position: absolute;
  user-select: none;

  @media (max-width: 768px) {
    margin-top: 60px;
    width: 123px;
    padding-left: 20px;
  }
  
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 120px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    background: linear-gradient(180deg, #3877EE -5%, #EF5DA8 85%);

    @media (max-width: 768px) {
      display: none;
    }
  }
}

  .backgroundBars { 

    @media (max-width: 768px) {
      display: none;
    }

    .leftBar {
      position: absolute;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #42567A;
      opacity: 0.1;
    }
    
    .rightBar {
      position: absolute;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #42567A;
      opacity: 0.1;
    }
    
    .middleBar {
      position: absolute;
      right: 50%;
      width: 1px;
      height: 100%;
      background-color: #42567A;
      opacity: 0.1;
    }
    
    .crossBar {
      position: absolute;
      top: 44%;
      width: 100%;
      height: 1px;
      background-color: #42567A;
      opacity: 0.1;
    }
  }

  .spinner {
    z-index: 100;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
      display: none;
    }
  }

  .years {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
      left: auto;
      top: 34%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 273px;
    }
  }

  .sectionsTogglerContainer{
    position: absolute;
    top: 65%;
    left: 4.2%;
    display: flex;
    flex-direction: column;
    height: 88px;
    justify-content: space-between;

    @media (max-width: 768px) {
      height: 50px;
      left: 20px;
      top: auto;
      bottom: 2%;
    }

    .sectionsTogglerNumbers {
      display: flex;
      user-select: none;
    }

    .sectionsToggler{

    }
  }

  .eventsSwiper {
    position: absolute;
    bottom: 9%;

    @media (max-width: 768px) {
      top: 55%;
      bottom: auto;
    }
  }
  
  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobileCrossBar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    width: 87.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C7CDD9;
  }
}

