.container {
  width: min-content;
  height: 14px;
  display: flex;
  align-items: center;
}

.dot {
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #42567a;
  margin: 0 4px;
  opacity: 0.2;
}

.active {
  opacity: 1;
}
